
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/ecc8ffd1a1.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- BUTTON BAR -->
    <div class="angle">
        <a href="#"><i class="fa-solid fa-mars-stroke-up"></i></a>
    </div>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="navbar">
                <div class="images">
                    <a href="/"><img src="imgs/white-logo.png" alt=""></a>
                </div>
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars-staggered"></i></label >
                <nav>
                    <div class="nav">
                        <ul id="breaker">
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#price">Pricing</a></li>
                            <li><a href="#faq">Faq</a></li>
                            <li><a href="#about">About</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- Section-1 -->
    <section class="section-1">
        <div class="section">
            <div class="secure">
                <div class="secure-1">
                    <div class="slide current">
                        <div class="picture">
                            <img src="/imgs/slide1.jpg" alt="" class="darklayer">
                        </div>
                        <div class="content ">
                            <div class="income">Secure & easy way to <span> make passive income.</span></div>
                            <p>We invest today's capital in tommorow's most compelling assets.</p>
                            <div class="button">
                                <div class="started">
                                    <a href="/signup"><button>Get started</button></a>
                                </div>
                                <div class="login">
                                    <a href="/login"><button>Log in</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="picture">
                            <img src="/imgs/slide5.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="income">Cryptocurrency trading is <span> Better with us.</span></div>
                            <p>Allow us take you on a crypto journey worthwhile with a happy ending.</p>
                            <div class="button">
                                <div class="started ">
                                    <a href="#price"><button class="others">See plans</button></a>
                                </div>
                                <div class="login ">
                                    <a href="/signup"><button class="change">Get started</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="picture">
                            <img src="/imgs/slide6.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="income">Invest & build up your <span> portfolio.</span></div>
                            <p>you are one steps away from changing your portfolio for the better.</p>
                            <div class="button">
                                <div class="started">
                                    <a href="/signup"><button>invest now!</button></a>
                                </div>
                                <div class="login">
                                    <a href="#price"><button>See plans</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow">
                    <div onclick="side_slides(-1)" class="arrow-1 left">
                        <i class="fas fa-angle-left"></i>
                    </div>
                    <div onclick="side_slide(1)" class="arrow-1 right">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
                <div class="space">
                    <button  onclick="btm_slide(1)"></button>
                    <button  onclick="btm_slide(2)"></button>
                    <button  onclick="btm_slide(3)"></button>
                </div>
            </div>
            <div class="coins">
                <div class="bitcoin">
                    <div class="bitcoin-1">
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/BTCUSD/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/bitcoin.svg" alt="">
                                </div>
                                <div class="euro small">bitcoin</div>
                            </a>
                        </div>
                        
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/MANAUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/decentral.svg" alt="">
                                </div>
                                <div class="euro">Manausdt</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/ETHUSD/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/etherium.svg" alt="">
                                </div>
                                <div class="euro small">ethereum</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/LUNAUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/luna.svg" alt="">
                                </div>
                                <div class="euro">lunausdt</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/MATICUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/matic.svg" alt="">
                                </div>
                                <div class="euro">Maticusdt</div>
                            </a>
                            
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/SOLUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/sol.svg" alt="">
                                </div>
                                <div class="euro">Solusdt</div>
                            </a>
                        </div>
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/BTCUSD/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/bitcoin.svg" alt="">
                                </div>
                                <div class="euro small">bitcoin</div>
                            </a>
                        </div>
                        
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/MANAUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/decentral.svg" alt="">
                                </div>
                                <div class="euro">Manausdt</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/ETHUSD/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/etherium.svg" alt="">
                                </div>
                                <div class="euro small">ethereum</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/LUNAUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/luna.svg" alt="">
                                </div>
                                <div class="euro">lunausdt</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/MATICUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/matic.svg" alt="">
                                </div>
                                <div class="euro">Maticusdt</div>
                            </a>
                            
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/SOLUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/sol.svg" alt="">
                                </div>
                                <div class="euro">Solusdt</div>
                            </a>
                        </div>
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/BTCUSD/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/bitcoin.svg" alt="">
                                </div>
                                <div class="euro small">bitcoin</div>
                            </a>
                        </div>
                        
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/MANAUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/decentral.svg" alt="">
                                </div>
                                <div class="euro">Manausdt</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/ETHUSD/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/etherium.svg" alt="">
                                </div>
                                <div class="euro small">ethereum</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/LUNAUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/luna.svg" alt="">
                                </div>
                                <div class="euro">lunausdt</div>
                            </a>
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/MATICUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/matic.svg" alt="">
                                </div>
                                <div class="euro">Maticusdt</div>
                            </a>
                            
                        </div>
                    
                        <div class="bitcoins-1">
                            <a href="https://www.tradingview.com/symbols/SOLUSDT/?utm_campaign=ticker-tape&utm_medium=widget&utm_source=cryptofxmgmt.com" target="_blank">
                                <div class="diagram">
                                    <img src="imgs/sol.svg" alt="">
                                </div>
                                <div class="euro">Solusdt</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section-2 -->
    <section class="section-2">
        <div class="section">
            <div class="what">
                <i class="fas fa-bitcoin-sign"></i>
                <div class="offer">
                    <div class="what-1">What We Offer</div>
                    <div class="crypto">FINCREST <span>FEATURES</span></div>
                </div>
                <div class="line"></div>
            </div>
            <div class="trading">
                <div class="trading-1">
                    <a href="/login">
                        <div class="details-1">
                            <img src="imgs/bg1.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="icons">
                                <i class="fas fa-copy"></i>
                            </div>
                            <div class="copy-trade">Copy Trading</div>
                            <p>Copy trading allows you to direct copy the positions taken by other expert traders. you simply copy everything</p>
                        </div>
                    </a>
                </div>
                <div class="trading-1">
                    <a href="#price">
                        <div class="details-1">
                            <img src="imgs/bg3.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="icons">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="copy-trade">Flexible Plans</div>
                            <p>Flexible plans no matter your portfolio size. Reasonable trading fees for takers and all market makers</p>
                        </div>
                        
                    </a>   
                </div>
                <div class="trading-1">
                    <a href="/login">
                        <div class="details-1">
                            <img src="imgs/bg4.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="icons">
                                <i class="fas fa-money-bill-trend-up"></i>
                            </div>
                            <div class="copy-trade">Automatic Trades</div>
                            <p>The right trades at their right positions, at the right time, guaranteed to bring profits</p>
                        </div>
                        
                    </a>    
                </div>
                <div class="trading-1">
                    <a href="/login">
                        <div class="details-1">
                            <img src="imgs/bg5.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="icons">
                                <i class="fas fa-shield-halved"></i>
                            </div>
                            <div class="copy-trade">Account security</div>
                            <p>We use one of the most secure, and trusted DDoS Protection and mitigation provider to ensure the safety of your account and portfolio</p>
                        </div>
                        
                    </a>
                </div>

                <div class="trading-1">
                    <a href="/login">
                        <div class="details-1">
                            <img src="imgs/bg6.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="icons">
                                <i class="fa-solid fa-bitcoin-sign"></i>
                            </div>
                            <div class="copy-trade">Cryptocurrency Trading</div>
                            <p>We help you trade various cryptocurrencies and bring reasonable returns to your portfolio without you having to do any work yourself</p>
                        </div>
                        
                    </a>
                </div>

                <div class="trading-1">
                    <a href="/login">
                        <div class="details-1">
                            <img src="imgs/bg1.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="icons">
                                <i class="fa-solid fa-face-smile"></i>
                            </div>
                            <div class="copy-trade">Friendly interface</div>
                            <p>Whether you are a beginner or a professional in cryptocurrency trading, we are sure that you will find our platform easy to use.</p>
                        </div>
                        
                    </a>
   
