<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <section class="sectionss">
        <div class="started">
            <div class="overlay"></div>
            <div class="header">
                <div class="logo">
                    <a href="index.html"><img src="/images/logo1.png" alt=""></a>
                </div>
                <div class="register">
                    <div class="register-1">
                        <a href="register.html">Register</a>
                    </div>
                    <div class="register-2">
                        <a href="login.html">Login</a>
                    </div>
                </div>
            </div>
            <div class="get-started">
                <div class="getstar">
                    <div class="get-star">
                        <div class="get">Get Started</div>
                    </div>
                    <form action="/signup" method="POST">
                        <div class="user">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="userName" placeholder="User Name" required>
                        </div>
                        <div class="user">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" placeholder="Email address" required>
                            <div class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="user">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="password" placeholder="Password" id="password1" required>
                        </div>
                        <div class="user">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="confirmPassword" placeholder="Confirm Password" id="password2" required>
                        </div>
                        <button type="submit" class="btn" disabled>Create Account</button>
                    </form>
                </div>
            </div>
            <footer class="footo">
                <div class="footo-1">
                    <ul>
                        <li><a href="index.html">About Us</a></li>
                        <li><a href="index.html">Privacy Policy</a></li>
                        <li><a href="index.html">Terms Of Use</a></li>
                    </ul>
                    <p>&copy; 2022. All Rights Reserved.</p>
                </div>
            </footer>
        </div>
    </section>

    <script src="/js/login.js"></script>
</body>
</html>
